/*@font-face {
    font-family: "Verdana";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/VerdanaPro-Light.woff") format("woff");
}
*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 892px;
  margin: 0px auto;
  /*background: #fff;*/
  padding: 20px 30px;
  /*border: 1px solid #ccc;
  border-radius: 6px;*/
}

h1 {
  margin-top: -9px;
  margin-left: -19px;
  font-size: 24px;
  font-weight: 300;
  color: #0D4278;
  text-align: left;
  letter-spacing: -0.04em;
}

hr {
  height: 3px;
  border: none;
  background-color: #E7EBED;
}

.hr_regestration, .hr_name, .hr_education, .hr_school, .hr_university {width: 934px;}
.hr_regestration {margin-left: -20px; margin-top: 20px;}
.hr_name {margin-left: -35px; margin-top: 4px;}
.hr_education {margin-left: -35px; margin-top: 60px;}
.hr_school {margin-left: -35px; margin-top: 17px; height: 2px;}
.hr_university {margin-left: -35px; margin-top: 20px; height: 2px;}

.define span {font-weight: 600;letter-spacing: -0.06em;}

.define {
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  letter-spacing: -0.055em;
  line-height: 1.05em;
}

img {
  float: left;
  width: 35px;
  height: 35px;
  padding: 10px 15px 40px 10px;
  margin-left: -19px;
  margin-top: 10px;
}

.register-form fieldset {
  border: none;
  margin-bottom: 20px;
}

.register-form legend {
  font-weight: bold;
  font-size: 20px;
  color: #5274A2;
  margin-bottom: 10px;
  margin-left: -34px;
}

.register-form .legend_education {
  padding-top: 23px;
  letter-spacing: -0.01em;
  margin-bottom: -60px;
}

.form-row {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  padding-top: 10px;
}

.form-row label {
  width: 83px;
  margin-left: -36px;
  padding-right: 5px;
  text-align: right;  
  font-size: 16px;
  letter-spacing: 0.01em;
  margin-top: 4px;
}

.form-row label[for="firstname"] {margin-left: -34px;}
.form-row label[for="lastname"] {margin-left: -34px;}
.form-row label[for="email"] {margin-top: 1px;}
.form-row label[for="password"] {margin-top: 1px;}
.form-row label[for="country"] {margin-left: -26px;}
.form-row label[for="city"] {margin-left: -26px; margin-top: 2px;}

.form-row input,
.form-row select {
  flex: 1;
  padding: 6px 8px 6px 0px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;  
  
}

.form-row input {height: 14px;  border-radius: 2px;}


.form-row .note {
  margin-left: 6px;
  margin-top: 8px;
  letter-spacing: 0.025em;
  font-size: 12px;
  color: #555;
  white-space: nowrap;
}

#country, #city {
  max-width: 206px;
  padding: 0;
  padding-bottom: 4px;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-indent: 2px;
} 

#country {
  margin-top: 2px;
  height: 24px;
} 

#city {
  max-width: 204px;
  margin-left: 2px;
  margin-top: 0;
  height: 23px;
} 

.form-row input {
  flex-grow: 1;
  max-width: 203px;
}
                /* подпись под городом */
.form-row p {
  color: #555;
  margin-top: 24px;
  margin-left: -203px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.027em;
}

.register-form .legend_school {
  margin-left: -34px;
  padding-top: 28px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.05em;
}

#school, #university {
  padding: 0;
  max-width: 210px;
  height: 22px;
  margin-top: 0px;
  border-radius: 2px;
  font-size: 17px;
  letter-spacing: -0.01em;
  text-indent: 3px;
}

.form-row label[for="school"] {
  margin-top: 1px;
  margin-left: -30px;
  letter-spacing: 0.01em;
}

.register-form .legend_university {
  margin-left: -34px;
  padding-top: 6px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.05em;
}

.form-row label[for="university"] {
  margin-top: -1px;
  margin-left: -28px;
  letter-spacing: 0.01em;
}

#university {
  padding: 0;
  max-width: 210px;
  height: 23px;
  margin-top: -4px;
  border-radius: 2px;
  font-size: 17px;
  letter-spacing: -0.01em;
  text-indent: 3px;
}

.register-form button {
  display: block;
  width: 260px;
  height: 28px;
  margin-left: 21px;
  margin-top: -4px;
  padding: 0;
  text-align: left;
  text-indent: 46px;
  letter-spacing: 0.03em;
  font-size: 16px;
  background: #EFEFEF;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
}

.register-form button:hover {
  background: #3b5f87;
}

.agreement {
  margin-top: 1px;
  padding-left: 21px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.023em;
  color:#aaa;
}

.agreement a{
  color: #0D4278;
  text-decoration: none;
}